<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Ingresar Contribuyentes</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="font-family: 'Montserrat', sans-serif;">
    <div class="container mt-5">
      <form th:action="@{/insertarCategoria}">
        <input type="submit" value="Ingresar Categoria"><br>
    </form>
    <form th:action="@{/insertarLibro}">
      <input type="submit" value="Ingresar Libro"><br>
  </form>
  <form th:action="@{/listado}">
    <input type="submit" value="Ver Libros"><br>
</form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
